@import url('https://fonts.googleapis.com/css?family=Quantico');
*{
  font-family: 'Quantico', monospace;
}

html, body {
  margin: 0 auto;
  min-height: 9570000px;
  overflow: auto;
}
/*body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.scroll {
  overflow: auto;
  height: 100%;
}*/
div {
  width: 100%;
  text-align: center;
  font-size: 3em;
  position: fixed;
  color: black;
  top: 50%;
  transform: translateY(-50%);
}
/*@media only screen and (max-width: 768px) {
  body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  .scroll {
    overflow: auto;
    height: 100%;
  }
}*/
